
body {
    font-size: 1.25rem;
    font-family: sans-serif;
    height: 100%;
    length: 100%;
}


h1 {
    font-size: 4rem;
}

div {
    height: 100%;
    length: 100%;
}


.left-side {
    background-color: #e7e7e7;
    text-align: center;
    position: relative;
    float: left;
    width: 70%;
    height: 270px;
    padding: 50px;
}

.right-side {
    background-color: #c8c8c8;
    position: relative;
    float: right;
    width: 30%;
    height: 270px;
    padding: 50px;
}


.chatroom_container {
    top: 50px;
    display: table;
    width: 100%;
    background-color: #eeeeee;
}

.row{
    padding-top: 15px;
    margin-right: 0px;
}

.messages, .form-group{
    position: relative;
    float: left;
    width: 60%;
    padding-left: 50px;
    padding-right: 100px;
    padding-top: 5px;
}

.notifications {
    position: relative;
    width: 10%;
    padding-right: 50px;
    padding-top: 5px;
}

.users{
    position: relative;
    padding-top: 5px;
    padding-left: 20px;
 }


.chatrooms_container {
    padding-top: 10px;
}

.indexheader {
    background-color: #e7e7e7;
    padding: 35px;
}

.btn_logIn, .btn_goBack, .btn_addHannah, .btn_addCaroline,
.btn_addAmalie, .btn_createMsg {
    background-color: #212020;
    color: #e7e7e7;
    border-radius: 10px;
    padding: 2px;
    border: 3px solid black;
}

.btn_logOut{
    background-color: #bc7171;
    color: #000000;
    border-radius: 10px;
    padding: 2px;
}

.btn_leaveRoom {
    background-color: #eeca93;
    color: #000000;
    border-radius: 10px;
    padding: 2px;
}

.index_logIn {
    padding: 15px;
}

.index_logIn_btn{
    padding-left: 112px;
    padding-top: 5px;
}